<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#f4f5fb" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#0f5f84" media="(prefers-color-scheme: dark)">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="icon" href="<%= BASE_URL %>favicon.svg" type="image/svg+xml">

    <!-- Primary Meta Tags -->
    <title>TODO Application</title>
    <meta name="title" content="TODO Application">
    <meta name="description" content="Created by Roman Paprotsky">
    <meta name="author" content="Roman Paprotsky"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://todo-a.netlify.app">
    <meta property="og:title" content="TODO Application">
    <meta property="og:description" content="Created by Roman Paprotsky">
    <meta property="og:image" content="https://todo-a.netlify.app/img/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://todo-a.netlify.app">
    <meta property="twitter:title" content="TODO Application">
    <meta property="twitter:description" content="Created by Roman Paprotsky">
    <meta property="twitter:image" content="https://todo-a.netlify.app/img/banner.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
