<template>
  <div>
    <h1 class="text-center font-weight-light blue-grey--text text--darken-3 my-4">
      Todos
    </h1>

    <v-layout wrap justify-center align-center>
      <v-flex xs12 sm8 md6 class="px-4">
        <v-text-field
          v-model.trim="$v.newTodo.$model"
          @keydown.enter="addTodo"
          label="New Todo"
          autofocus
          dense
          filled
          hide-details
          :class="newTodoErrors.length && 'input-errors'"
          :color="newTodoErrors.length ? 'error' : null"
        >
          <v-icon
            v-if="newTodo"
            slot="append"
            color="primary"
            @click="addTodo"
          >
            mdi-plus
          </v-icon>
        </v-text-field>
        <div class="v-text-field__details mt-2 ml-2">
          <div class="v-messages theme--light error--text" role="alert">
            <div class="v-messages__wrapper">
              <div class="v-messages__message">{{ newTodoErrors[0] }}</div>
            </div>
          </div>
        </div>

        <v-progress-linear
          v-if="!loaded"
          color="primary"
          indeterminate
          rounded
          height="4"
        ></v-progress-linear>

        <v-card v-if="todos.length" class="mt-2 mb-10">
          <v-list>
            <div
              v-if="todos.length > 1"
              class="blue-grey--text caption text--darken-1 text-center mt-2"
            >
              Reorder todos in a list using the mouse
            </div>
            <transition-group name="fade" mode="out-in">
              <v-list-item
                v-for="(todo, $index) in todos"
                :key="todo.id"
                draggable
                @dragstart="pickupTodo($event, $index)"
                @dragenter.prevent
                @dragover.prevent
                @drop.stop="moveTodo($event, $index)"
                class="grabbable"
              >
                <v-list-item-icon class="mr-4" @click="updateTodoStatus(todo)">
                  <v-btn
                    v-if="todo.done"
                    icon
                    x-small
                  >
                    <icon-base
                      class="cyan--text"
                    >
                      <icon-check-square/>
                    </icon-base>
                  </v-btn>
                  <v-btn
                    v-else
                    icon
                    x-small
                  >
                    <icon-base
                      class="blue-grey--text text--darken-2"
                    >
                      <icon-square/>
                    </icon-base>
                  </v-btn>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>
                    <v-text-field
                      v-if="todoToEditId === todo.id"
                      v-model="todoNameToEdit"
                      @keydown.enter="updateTodo"
                      dense
                      class="mt-0 mb-n4"
                    >
                      <template v-slot:append>
                        <v-btn
                          small
                          text
                          tabindex="-1"
                          color="grey"
                          @click="cancelEdit"
                        >
                          Cancel
                        </v-btn>
                        <v-btn
                          v-if="todo.name !== todoNameToEdit"
                          small
                          text
                          tabindex="-1"
                          color="primary"
                          @click="updateTodo"
                        >
                          Update
                        </v-btn>
                      </template>
                    </v-text-field>
                    <span
                      v-else
                      class="font-weight-regular"
                      :class="todo.done ? 'blue-grey--text text--lighten-1 text-decoration-line-through' : 'blue-grey--text text--darken-3'"
                    >{{ todo.name }}</span>
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                        @click.stop
                        small
                      >
                        <icon-base
                          width="16"
                          height="16"
                          class="my-1 blue-grey--text text--darken-3"
                        >
                          <icon-more-vertical/>
                        </icon-base>
                      </v-btn>
                    </template>
                    <v-list dense>
                      <v-list-item @click="edit(todo)">
                        <v-list-item-title>
                          <div class="d-flex">
                            <icon-base
                              width="16"
                              height="16"
                              class="blue-grey--text text--darken-2"
                            >
                              <icon-edit/>
                            </icon-base>
                            <span class="mx-2 blue-grey--text text--darken-3 font-weight-regular">Edit</span>
                          </div>
                        </v-list-item-title>
                      </v-list-item>
                      <v-list-item @click="deleteTodo(todo)">
                        <v-list-item-title>
                          <div class="d-flex">
                            <icon-base
                              width="16"
                              height="16"
                              class="error--text"
                            >
                              <icon-trash/>
                            </icon-base>
                            <span class="mx-2 error--text text--darken-1 font-weight-regular">Delete</span>
                          </div>
                        </v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </v-list-item-action>
              </v-list-item>
            </transition-group>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { maxLength, required } from 'vuelidate/lib/validators'
import messagesMixin from '@/mixins/messagesMixin'

export default {
  name: 'Todos',

  mixins: [messagesMixin, validationMixin],

  data () {
    return {
      loaded: false,
      newTodo: '',
      todos: [],
      todoToEditId: null,
      todoNameToEdit: ''
    }
  },

  mounted () {
    Promise.all([
      this.getTodos()
    ])
      .then(() => {
        this.loaded = true
      })
  },

  computed: {
    newTodoErrors () {
      const errors = []
      if (!this.$v.newTodo.$dirty) return errors
      !this.$v.newTodo.required && errors.push('Todo is required')
      return errors
    }
  },

  validations: {
    newTodo: { required, maxLength: maxLength(191) }
  },

  methods: {
    addTodo () {
      this.$v.$touch()

      if (this.$v.$invalid) return

      this.$http.post('/todos', {
        name: this.newTodo
      })
        .then(({ data }) => {
          this.todos.push(data.todo)
          this.newTodo = ''
          this.$v.$reset()

          this.showSuccessMessage('New Todo was added successfully', 3000)
        })
        .catch((error) => {
          console.log(error)
          this.showErrorMessage()
        })
    },

    cancelEdit () {
      this.todoToEditId = null
      this.todoNameToEdit = ''
    },

    deleteTodo (todo) {
      this.$http.delete('/todos/' + todo.id)
        .then(({ data }) => {
          this.todos = this.todos.filter(item => item.id !== todo.id)

          this.showSuccessMessage('Todo has been deleted')
        })
        .catch((error) => {
          console.log(error)
          this.showErrorMessage()
        })
    },

    edit (todo) {
      this.todoToEditId = todo.id
      this.todoNameToEdit = todo.name
    },

    getTodos () {
      return this.$http.get('/todos')
        .then(({ data }) => {
          this.todos = data
        })
        .catch(error => {
          console.log(error)
        })
    },

    moveTodo (e, toTodoIndex) {
      const toTodo = this.todos[toTodoIndex]

      const fromTodoIndex = e.dataTransfer.getData('from-todo-index')

      const todoToMove = this.todos.splice(fromTodoIndex, 1)[0]

      this.todos.splice(toTodoIndex, 0, todoToMove)

      if (todoToMove.id !== toTodo.id) {
        this.updateSortOrder(todoToMove, toTodo)
      }
    },

    pickupTodo (e, todoIndex) {
      e.dataTransfer.effectAllowed = 'move'
      e.dataTransfer.dropEffect = 'move'

      e.dataTransfer.setData('from-todo-index', todoIndex)
    },

    updateTodo () {
      this.$http.put('/todos/' + this.todoToEditId, {
        name: this.todoNameToEdit
      })
        .then(({ data }) => {
          const todo = this.todos.find(item => item.id === this.todoToEditId)
          todo.name = this.todoNameToEdit
          this.cancelEdit()

          this.showSuccessMessage('Todo has been updated')
        })
        .catch((error) => {
          console.log(error)
          this.showErrorMessage()
        })
    },

    updateSortOrder (todoToMove, toTodo) {
      this.$http.put('/update-sort-order', {
        todoToMoveId: todoToMove.id,
        toTodoId: toTodo.id
      })
        .then(({ data }) => {

        })
        .catch((error) => {
          console.log(error)
          this.showErrorMessage()
        })
    },

    updateTodoStatus (todo) {
      this.$http.put('/todos/update-status/' + todo.id, {
        done: !todo.done
      })
        .then(({ data }) => {
          todo.done = data.todo.done
        })
        .catch((error) => {
          console.log(error)
          this.showErrorMessage()
        })
    }
  }
}
</script>

<style lang="css" scoped>
  .input-errors >>> .v-input__control > .v-input__slot:before {
    border-color: #f56c6c !important;
  }
</style>
